<div id="inventory-menu">
    <div class="inner">
        <button hx-on:click="window.gameInteractivity.toggleClass('open', '#inventory-menu .inner')">Close</button>
        <h1>Inventory</h1>
        <hr/>
    </div>
</div>