<div id="main-menu">
    <div class="inner">
        <button hx-on:click="window.gameInteractivity.toggleClass('open', '#main-menu .inner')">Close</button>
        <h1>Main Menu</h1>
        <hr/>
        <p>Volume</p>
        <input type="range" id="volume-control" value="0">
    </div>
</div>