<div id="main-menu">
    <div class="inner">
        <button hx-on:click="window.interactivity.toggleClass([{className: 'open', target: '#main-menu .inner'}])">Close</button>
        <h1>Main Menu</h1>
        <hr/>
        <p>Volume</p>
        <input type="range" id="volume-control" value="10">
        <label for="volume-control"><span id="volume-label-value">10</span>%</label>
    </div>
</div>

