<div id="menu-bar">
    <button hx-on:click="window.gameInteractivity.toggleClass('open', '#main-menu .inner')">Menu</button>
    <button hx-on:click="window.gameInteractivity.toggleClass('open', '#inventory-menu .inner')">Inventory</button>
</div>

