<%- include('../partials/menu-bar'); %>

<!-- TODO: Make starting scene dynamic -->
<div 
    id="main-scene" 
    hx-get="/scenes/init?sceneId=shrine" 
    hx-swap="outerHTML" 
    hx-select="#main-scene" 
    class="transition"
    hx-trigger="load">
</div>

<div id="title-screen-wrapper" hx-swap-oob="true"></div>