<div id="main">
    <%- include('../partials/menu-bar'); %>
    <%- include('../partials/main-menu'); %>
    <%- include('../partials/context-bar'); %>
    <div id="inventory-menu"></div>
    <!-- TODO: Make starting scene dynamic -->
    <div 
        id="main-scene" 
        hx-get="/scenes/shrine" 
        hx-swap="outerHTML" 
        hx-select="#main-scene" 
        class="transition"
        hx-trigger="load">
    </div>
</div>