<div id="context-menu">
    <button id="context-look-button" data-context="look">Look</button>
    <button id="context-talk-button" data-context="talk">Talk</button>
    <button id="context-move-button" data-context="move">Move</button>
</div>