
    <div class="inner">
        <div class="close">
            <button hx-get="/deleteme" hx-target="#inventory-menu .inner" hx-swap="delete">X</button>
        </div>
        <div class="header">
            <h1>Inventory</h1>
        </div>
        <div class="visuals">
    
        </div>
        <div class="list">
            <!-- for each item, render a row -->
        </div>
    </div>
