<div  id="main" class="transition">
  <div id="shrine-text-overlay"></div>
    <div class="overlay">
        <svg width="1280" height="720">
            <defs>
                <filter id="f1" x="0" y="0">
                  <feGaussianBlur in="SourceGraphic" stdDeviation="7" />
                </filter>
              </defs>
            <polygon width="1280" height="720" points="153, 357, 183, 354, 210, 354, 237, 348, 264, 345, 282, 336, 282, 300, 282, 258, 279, 225, 267, 192, 258, 159, 243, 114, 228, 84, 204, 108, 192, 132, 180, 159, 159, 180, 153, 207, 138, 234, 144, 258, 144, 285, 144, 312" filter="url(#f1)" hx-get="/window-message" hx-swap="outerHTML" hx-target="#shrine-text-overlay"/>
            <polygon width="1280" height="720" points="726, 510, 756, 531, 786, 537, 816, 537, 855, 519, 855, 480, 852, 423, 843, 369, 813, 324, 786, 351, 762, 372, 762, 405, 759, 453, 741, 486" filter="url(#f1)" hx-get="/message" hx-swap="outerHTML" hx-target="#shrine-text-overlay" id="polygon-shrine"/>
        </svg>
        
    </div>
    <div id="basemat-shrine">
      <img src="/shrine-final.gif" width="1280" height="720" class="base-image">
    </div>
    
</div>
