<div class="text-overlay" id="shrine-text-overlay" width="1280" height="720" style="position: absolute; top: 0; left: 0;" hx-on="htmx:load: window.gameInteractivity.streamMessage({message: 'A single candle flickers, struggling to keep the darkness at bay. You snuff it out.', speed: 50, target: '#stream-message-container'})" hx-get="/shrine-overlay-empty" hx-swap="outerHTML" hx-target="#shrine-text-overlay">
    <div hx-get="/basemat-shrine-png" hx-trigger="click from:#shrine-text-overlay" hx-target="#basemat-shrine"></div>
    <div hx-get="/basemat-shrine-png" hx-trigger="click from:#shrine-text-overlay" hx-target="#polygon-shrine" hx-swap="delete"></div>
    <div class="text-box">
        <p class="text-message" id="stream-message-container"></p>
    </div>
</div>