@import '../palette.scss'; 

#context-bar {
    width: 1280px;
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    @include zlayers($z-menu);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#context-bar label {
    display: block;
    @include zlayers($z-menu, 1);
    max-width: 200px;
    margin-left: 25px;
    padding: 0 10px;
    //cursor: $cursor-default;
    background-color: $black_hex;
    border: 1px solid $lightOrange_hex;
    color: $lightOrange_hex;
}

#context-bar input[type=radio] {
    appearance: none;  
}

#context-bar input[type=radio]:checked+label {
    background-color: $brown_hex;
    border: 1px solid $lightOrange_hex;
    color: $lightOrange_hex;
}