#context-menu {
    @include zlayers($z-menu);
    background-color: $sunfall_orange1_hex;
    display: none;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
}

#context-menu form {
    display: flex;
    flex-direction: column;
}

#context-menu.revealed {
    display: block;
}

#context-menu form label {
    @include zlayers($z-menu, 1);
    background-color: $sunfall_black_hex;
    border-bottom-width: 0px;
    border: 1px solid $sunfall_gold1_hex;
    color: $sunfall_gold1_hex;
    cursor: $cursor-default;
    display: block;
    padding: 0 10px;
    text-align: center;
}

#context-menu form label:last-child {
    border-bottom-width: 1px;
}

#context-menu form label:hover {
    background-color: $sunfall_pink3_hex;
}

#context-menu form input[type=radio] {
    appearance: none;  
}

#context-menu form input[type=radio]:checked+label {
    background-color: $sunfall_orange1_hex;
    color: $sunfall_black_hex;
}