#inventory-menu {
    @include innerDimensions();
    @include zlayers($z-menu, 2);
    cursor: $cursor-default;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}

#inventory-menu .inner {
    @include zlayers($z-menu, 1);
    height: 100%;
    pointer-events: all;
    width: 100%;
}

#inventory-menu .close {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 1280px;
}

#inventory-menu .close button {
    @include close-button($sunfall_pink1_hex, $sunfall_orange2_hex);
    @include zlayers($z-menu, 2);
}

#inventory-menu .header {
    background-color: $sunfall_pink3_hex;
    height: 160px;
    position: absolute;
    top: 0;
    width: 1280px;
}

#inventory-menu .header h1 {
    color: $sunfall_black_hex;
    margin-left: 25px;
}

#inventory-menu .header button.use-item {
    @include default-button($sunfall_pink1_hex, $sunfall_orange2_hex);
    float: right;
}

#inventory-menu .visuals {
    background-color: $sunfall_black_hex;
    height: 560px;
    left: 0;
    position: absolute;
    top: 160px;
    width: 560px;
}

#inventory-menu .visuals .item-portrait {
    @include zlayers($z-menu, 2);
    display: block;
    height: 560px;
    left: 0;
    position: absolute;
    top: 0;
    width: 560px;
}

#inventory-menu .visuals .item-description {
    @include zlayers($z-menu, 3);
    background-color: hsla(207, 58%, 7%, 0.9);
    display: none;
    height: 560px;
    left: 0;
    position: absolute;
    top: 0;
    width: 560px;
}

#inventory-menu .visuals .item-description.revealed {
    display: block;
}

#inventory-menu .visuals .toggle-description {
    @include default-button($sunfall_pink1_hex, $sunfall_orange2_hex);
    @include zlayers($z-menu, 4);
    left: 152px;
    position: absolute;
    top: 524px;
}

#inventory-menu .visuals .item-description p {
    color: $sunfall_orange2_hex;
    padding: 25px;
}

#inventory-menu .list {
    background-color: $sunfall_orange2_hex;
    display: flex;
    flex-direction: column;
    height: 560px;
    left: 560px;
    position: absolute;
    top: 160px;
    width: 720px;
}

#inventory-menu .list .item-row {
    width: 100%;
}

#inventory-menu .list .item-row.selected {
    background-color: $sunfall_purple1_hex;
}

#inventory-menu .list .item-row.selected p {
    color: $sunfall_orange2_hex;
}

#inventory-menu .list .item-row:hover {
    background-color: $sunfall_pink3_hex;
}

#inventory-menu .list .item-row p {
    color: $sunfall_black_hex;
    padding: 10px 25px;
}