@import '../palette.scss'; 
@import '../variables.scss';

#inventory-menu {
    @include zlayers($z-menu, 2);
    position: absolute;
    top: 0;
    left: 0;
    @include innerDimensions();
    pointer-events: none;
    cursor: $cursor-default;
}

#inventory-menu .inner {
    @include zlayers($z-menu, 1);
    width: 100%;
    height: 100%;
    pointer-events: all;
}

#inventory-menu .close {
    position: absolute;
    top: 0;
    width: 1280px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#inventory-menu .close button {
    @include zlayers($z-menu, 2);
    height: 32px;
    width: 32px;
    cursor: $cursor-default;
}

#inventory-menu .header {
    position: absolute;
    top: 0;
    width: 1280px;
    height: 160px;
    background-color: $tan_hex;
}

#inventory-menu .header h1 {
    margin-left: 25px;
    color: $black_hex;
}

#inventory-menu .header button.use-item {
    float: right;
}

#inventory-menu .visuals {
    position: absolute;
    top: 160px;
    left: 0;
    width: 560px;
    height: 560px;
    background-color: $black_hex;
}

#inventory-menu .visuals .item-portrait {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 560px;
    display: block;
    @include zlayers($z-menu, 2);
}

#inventory-menu .visuals .item-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 560px;
    display: none;
    @include zlayers($z-menu, 3);
    background-color: hsla(207, 58%, 7%, 0.9);
}

#inventory-menu .visuals .item-description.revealed {
    display: block;
}

#inventory-menu .visuals .toggle-description {
    position: absolute;
    top: 535px;
    left: 140px;
    width: 280px;
    height: 25px;
    color: $black_hex;
    @include zlayers($z-menu, 4);
    cursor: $cursor-default;
}

#inventory-menu .visuals .item-description p {
    color: $lightOrange_hex;
    padding: 25px;
}

#inventory-menu .list {
    position: absolute;
    top: 160px;
    left: 560px;
    width: 720px;
    height: 560px;
    background-color: $lightOrange_hex;
    display: flex;
    flex-direction: column;
}

#inventory-menu .list .item-row {
    width: 100%;
}

#inventory-menu .list .item-row.selected {
    background-color: $darkBlue-hex;
}

#inventory-menu .list .item-row.selected p {
    color: $lightOrange-hex;
}

#inventory-menu .list .item-row:hover {
    background-color: $tan_hex;
}

#inventory-menu .list .item-row p {
    color: $black_hex;
    padding: 10px 25px;
}