@import '../palette.scss'; 

#main-menu .inner {
    position: absolute;
    top: 0;
    left: 0;
    @include innerDimensions();
    background-color: $brown_hex;
    @include zlayers($z-menu, 2);
    display: none;
    cursor: $cursor-default;
}
#main-menu .inner button {
    position: absolute;
    right: 0;
    top: 0;
    @include zlayers($z-menu, 3);
    cursor: $cursor-default;
}
#main-menu * {
    color: $black_hex;
}
#main-menu .inner.open {
    display: block;
}

#main-menu .close button {
    @include zlayers($z-menu, 2);
    height: 32px;
    width: 32px;
    cursor: $cursor-default;
}

#main-menu #save {
    position: relative;
    display: block;
    width: 150px;
    @include zlayers($z-menu, 3);
    cursor: $cursor-default; 
}