@import '../palette.scss';
@import '../buttons.scss'; 

#main-menu .inner {
    position: absolute;
    top: 0;
    left: 0;
    @include innerDimensions();
    background-color: $brown_hex;
    @include zlayers($z-menu, 2);
    display: none;
    cursor: $cursor-default;
}
#main-menu .inner button {
    position: absolute;
    right: 0;
    top: 0;
    @include zlayers($z-menu, 3);
    cursor: $cursor-default;
}
#main-menu * {
    color: $black_hex;
}
#main-menu .inner.open {
    display: block;
}

#main-menu .close button {
    @include close-button($sunfall_pink1_hex, $sunfall_orange2_hex);
    @include zlayers($z-menu, 2);
}

#main-menu #save {
    @include default-button($sunfall_pink1_hex, $sunfall_orange2_hex);
    position: relative;
    @include zlayers($z-menu, 3);
}

#main-menu .save-success-container {
    display: block;
    width: 200px;
    height: 50px;
}

#main-menu .save-success-message {
    display: none;
    opacity: 0;
    @include zlayers($z-menu, 3);
    animation: gameSavedSuccess 3s 1;
}

#main-menu .save-success-message.revealed {
    display: block;
}

@keyframes gameSavedSuccess {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }