@import '../palette.scss'; 




#main-menu .inner {
    position: absolute;
    top: 0;
    left: 0;
    @include innerDimensions();
    background-color: $brown_hex;
    @include zlayers($z-menu, 2);
    display: none;
}
#main-menu .inner button {
    position: absolute;
    right: 0;
    top: 0;
    @include zlayers($z-menu, 3);
    cursor: $cursor-default;
}
#main-menu * {
    color: $black_hex;
}
#main-menu .inner.open {
    display: block;
}