#menu-bar {
    width: 1280px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    @include zlayers($z-menu);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#menu-bar button {
    @include default-button($sunfall_pink1_hex, $sunfall_orange2_hex);
    @include zlayers($z-menu, 1);
    margin-left: 25px;
}