@import '../palette.scss'; 
@import '../variables.scss';
#inventory-menu {
    @include zlayers($z-menu);
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    pointer-events: none;
}

#inventory-menu .inner {
    @include zlayers($z-menu, 1);
    width: 100%;
    height: 100%;
    pointer-events: all;
}

#inventory-menu .close {
    position: absolute;
    top: 0;
    width: 1280px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#inventory-menu .close button {
    @include zlayers($z-menu, 2);
    height: 32px;
    width: 32px;
}

#inventory-menu .header {
    position: absolute;
    top: 0;
    width: 1280px;
    height: 160px;
    background-color: $tan_hex;
}

#inventory-menu .visuals {
    position: absolute;
    top: 160px;
    left: 0;
    width: 560px;
    height: 560px;
    background-color: $black_hex;
    display: none;
}

#inventory-menu .visuals.revealed {
    display: block;
}

#inventory-menu .visuals .item-portrait {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 560px;
    display: none;
}

#inventory-menu .visuals .item-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 560px;
    display: none;
}

#inventory-menu .visuals .item-description p {
    color: $lightOrange_hex;
}

#inventory-menu .visuals .item-portrait.revealed, #inventory-menu .visuals .item-description.revealed {
    display: block;
}

#inventory-menu .list {
    position: absolute;
    top: 160px;
    left: 560px;
    width: 720px;
    height: 560px;
    background-color: $lightOrange_hex;
    display: flex;
    flex-direction: column;
}

#inventory-menu .list .item-row {
    width: 100%;
    height: 100px;
    padding: 0 10px;
}

#inventory-menu .list .item-row p {
    color: $black_hex;
}

// #inventory-menu .inner {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 1280px;
//     height: 720px; 
//     background-color: $brown_hex;
//     z-index: 32;
//     display: none;
// }
// #inventory-menu .inner button {
//     position: absolute;
//     right: 0;
//     top: 0;
//     z-index: 33;
// }
// #inventory-menu * {
//     color: $black_hex;
// }
// #inventory-menu .inner.open {
//     display: block;
// }