@import '../palette.scss'; 




#main-menu .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px; 
    background-color: $brown_hex;
    z-index: 32;
    display: none;
}
#main-menu .inner button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 33;
}
#main-menu * {
    color: $black_hex;
}
#main-menu .inner.open {
    display: block;
}