@import '../palette.scss'; 

#menu-bar {
    width: 1280px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    @include zlayers($z-menu);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#menu-bar button {
    display: block;
    @include zlayers($z-menu, 1);
    max-width: 200px;
    margin-left: 25px;
    padding: 0 10px;
}