<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
<script type="module">
    import { interactivity } from "/js/interactivity.js";
    window.interactivity = interactivity;
</script>

<head>
    <title><%= mainTitle %></title>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="flex-centered">
        <div id="outer-container">
            <div id="main">
                <%- include('./partials/title-screen.ejs'); %>
            </div>
        </div>
    </div>
</body>

<script>
    // htmx.logger = function(elt, event, data) {
    //     if(console) {
    //         console.log(event, elt, data);
    //     }
    // }


    // const audio = document.getElementById("background-music");
    // let volumeControls = document.getElementById("volume-control");
    // audio.volume = 0;
    // volumeControls.addEventListener("change", function(e) {
    //     audio.volume = e.currentTarget.value / 100;
    // })
</script>

</html>