<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
<script type="module">
    import { interactivity } from "/js/interactivity.js";
    window.interactivity = interactivity;
</script>

<head>
    <title><%= mainTitle %></title>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="flex-centered">
        <div id="outer-container">
            <div id="main">
                <%- include('./partials/main-menu'); %>
                <div id="inventory-menu"></div>
                <%- include('./partials/title-screen.ejs'); %>
            </div>
        </div>
    </div>

    <%- include('./partials/audio-player.ejs'); %>
</body>

</html>