<!-- Primary Scene -->
<div id="main-scene" class="transition">
  <div id="decision-box" class="">
    <div class="wrapper" id="exit-tunnel">
        <div class="container">
            <p class="title">Do you wish to exit?</p>
            <div class="choices">
              <button 
              class="decision-button"
              hx-get="/scenes/tunnel/tunnel"
              hx-swap="outerHTML swap:1s" 
              hx-select="#main-scene"
              hx-target="#main-scene" 
              class="transition"
              >Yes</button>
              <button 
              class="decision-button"
              hx-on="click: document.getElementById('decision-box').classList.toggle('revealed')"
              >No</button>
            </div>
        </div>
    </div>
  </div>
  <div id="text-overlay">
    <div class="blinking-arrow">&#129171;</div>
  </div>
  <div class="overlay">
    <svg width="1280" height="720">
      <defs>
        <filter id="f1" x="0" y="0">
          <feGaussianBlur in="SourceGraphic" stdDeviation="7" />
        </filter>
      </defs>
      <polygon
        width="1280"
        height="720"
        points="153, 357, 183, 354, 210, 354, 237, 348, 264, 345, 282, 336, 282, 300, 282, 258, 279, 225, 267, 192, 258, 159, 243, 114, 228, 84, 204, 108, 192, 132, 180, 159, 159, 180, 153, 207, 138, 234, 144, 258, 144, 285, 144, 312"
        filter="url(#f1)"
        hx-get="/scenes/shrine/shrine"
        hx-target="#text-overlay"
        hx-select="#text-overlay.window"
        hx-swap="outerHTML"
      />
      <polygon
        width="1280"
        height="720"
        points="726, 510, 756, 531, 786, 537, 816, 537, 855, 519, 855, 480, 852, 423, 843, 369, 813, 324, 786, 351, 762, 372, 762, 405, 759, 453, 741, 486"
        filter="url(#f1)"
        hx-get="/scenes/shrine/shrine"
        hx-target="#text-overlay"
        hx-select="#text-overlay.shrine"
        hx-swap="outerHTML"
        id="polygon-shrine"
      />
      <polygon
        width="1280"
        height="720"
        points="198, 702, 6, 708, 0, 3, 102, 6, 84, 63, 66, 111, 39, 183, 36, 225, 57, 276, 39, 300, 39, 354, 24, 399, 42, 429, 48, 480, 60, 531, 141, 624"
        filter="url(#f1)"
        hx-on="click: document.getElementById('decision-box').classList.toggle('revealed')"
        id="polygon-exit"
      />
    </svg>
  </div>
  <div id="basemat-shrine">
    <img
      src="/shrine-final.gif"
      width="1280"
      height="720"
      class="base-image"
      id="basemat-shrine-image"
    />
  </div>
</div>

<!-- Scene Objects -->

<!-- Window -->
<div
  id="text-overlay"
  class="window"
  hx-on="htmx:load: window.gameInteractivity.streamMessage({messages: ['A single message, and the typewriter will self-terminate without calling another script.'], speed: 50, target: '#text-overlay', triggerOnFinish: false})"
>
  <div class="blinking-arrow">&#129171;</div>
  <div class="text-box">
    <p class="text-message"></p>
  </div>
</div>

<!-- Shrine -->
<div
  id="text-overlay"
  class="shrine"
  hx-on="htmx:load: window.gameInteractivity.streamMessage({messages: ['One of two messages, illustrating the multi-message system.', 'This will terminate into another script, snuffing out the shrine\'s candle.'], speed: 50, target: '#text-overlay', triggerOnFinish: true})"
  hx-get="/scenes/shrine/replacements"
  hx-swap="outerHTML"
  hx-target="#text-overlay"
  hx-trigger="triggerOnFinish"
>
  <div class="blinking-arrow">&#129171;</div>
  <div class="text-box">
    <p class="text-message"></p>
  </div>
</div>

<!-- Exit
<div
  id="text-overlay"
  class="exit"
  hx-on="htmx:load: window.gameInteractivity.streamMessage({messages: ['Do you wish to exit?'], speed: 50, target: '#text-overlay', triggerOnFinish: false, inputs: []})"

>
  <div class="blinking-arrow">&#129171;</div>
  <div class="text-box">
    <p class="text-message"></p>
  </div>
</div> -->
