<!-- Primary Scene -->
<div id="main-scene" class="transition">
    <div id="text-overlay" hx-on="htmx:load: window.gameInteractivity.typeWriter()"></div>
    <div id="decision-box"></div>
    <div class="overlay">
      <svg width="1280" height="720">
        <defs>
          <filter id="f1" x="0" y="0">
            <feGaussianBlur in="SourceGraphic" stdDeviation="7" />
          </filter>
        </defs>
        <polygon
          width="1280"
          height="720"
          points="153, 357, 183, 354, 210, 354, 237, 348, 264, 345, 282, 336, 282, 300, 282, 258, 279, 225, 267, 192, 258, 159, 243, 114, 228, 84, 204, 108, 192, 132, 180, 159, 159, 180, 153, 207, 138, 234, 144, 258, 144, 285, 144, 312"
          filter="url(#f1)"
          hx-get="/scenes/stairs"
          hx-target="#main-scene"
          hx-swap="outerHTML swap:1s"
        />
        <% if (candleLit == true) { %>
        <polygon
          width="1280"
          height="720"
          points="726, 510, 756, 531, 786, 537, 816, 537, 855, 519, 855, 480, 852, 423, 843, 369, 813, 324, 786, 351, 762, 372, 762, 405, 759, 453, 741, 486"
          filter="url(#f1)"
          hx-get="/messages/shrine"
          hx-target="#text-overlay"
          id="polygon-shrine"
        />
        <% } %>

        <polygon
          width="1280"
          height="720"
          points="198, 702, 6, 708, 0, 3, 102, 6, 84, 63, 66, 111, 39, 183, 36, 225, 57, 276, 39, 300, 39, 354, 24, 399, 42, 429, 48, 480, 60, 531, 141, 624"
          filter="url(#f1)"
          hx-get="/decisions/leaveShrine"
          hx-target="#decision-box"
          id="polygon-exit"
        />

      </svg>
    </div>
    <div id="basemat-shrine">
      <img
        src="<%= candleLit==true ? '/image/shrine-final.gif' : 'image/shrine-no-candle.png' %>"
        width="1280"
        height="720"
        class="base-image"
        id="basemat-shrine-image"
      />
    </div>
</div>
  