<%- include('../../partials/menu-bar'); %>

<div 
    id="main-scene" 
    hx-get="/scenes/init?sceneId=<%= sceneId %>" 
    hx-swap="outerHTML" 
    hx-select="#main-scene"
    hx-trigger="load">
</div>

<div id="title-screen-wrapper" hx-swap-oob="true"></div>