
#text-overlay .wrapper.revealed {
    display: block;
}
#text-overlay .wrapper.no-click {
    pointer-events: none;
}
#text-overlay .wrapper {
    z-index: 31;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 1280px;
    height: 720px;
    display: none;
}
#text-overlay .text-box {
    background-color: hsla(0, 100%, 0%, 50%);
    width: 100%;
    max-height: 106px;
    position: absolute;
    bottom: 0;
    border: 1px solid white;
}
#text-overlay .text-message {
    font-size: 24px;
    color: white;
    padding: 1em;
}

#text-overlay .text-message span {
    opacity: 0;
}

#text-overlay .text-message span.revealed {
    opacity: 1;
}

#text-overlay .text-message span.red {
    color: red;
}

#text-overlay .blinking-arrow {
    animation: blinky 1s infinite;
    position: absolute;
    top: 680px;
    left: 1240px;
    z-index: 32;
    color: white;
    font-size: 48px;
    display: none;
}
#text-overlay .blinking-arrow.revealed {
    display: block;
}

@keyframes blinky {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }