@font-face {
  font-family: "m5x7";
  src: url("../fonts/m5x7.ttf");
}
@font-face {
  font-family: "slim-fit";
  src: url("../fonts/Slim_Fit.ttf");
}
body {
  font-family: "m5x7", sans-serif;
  color: #f6d6bd;
}

h1 {
  font-size: 144px;
  font-weight: 700;
}

button {
  font-size: 32px;
  color: #08141e;
  font-family: "m5x7";
}

p {
  font-size: 32px;
  color: #f6d6bd;
}

*,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #08141e;
  cursor: url("/image/cursors/default.png"), auto;
  user-select: none;
}

.flex-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.center-text {
  text-align: center;
}

#outer-container {
  width: 1600px;
  height: 900px;
  background-color: #997577;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main, #main-scene {
  position: relative;
  width: 1280px;
  height: 720px;
}

.transition.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

#decision-box .wrapper {
  width: 1280px;
  height: 720px;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 40;
  display: flex;
}

#decision-box .container {
  position: relative;
  background-color: hsla(207, 58%, 7%, 0.9);
  width: 640px;
  border: 1px #f6d6bd solid;
  padding: 1em;
}

#decision-box .wrapper .container .choices {
  display: flex;
  flex-direction: column;
}

#decision-box .wrapper .container .title {
  font-size: 64px;
  color: #f6d6bd;
  font-family: "m5x7", sans-serif;
  margin-bottom: 1em;
}

#decision-box .wrapper .container .choices .decision-button {
  font-size: 36px;
  color: #f6d6bd;
  font-family: "m5x7", sans-serif;
  background-color: hsla(207, 58%, 7%, 0.9);
  border: 1px #f6d6bd solid;
  margin-bottom: 1em;
}

#decision-box .wrapper .container .choices .decision-button:hover {
  cursor: url("/image/cursors/default.png"), auto;
  background-color: hsla(254, 13%, 33%, 0.9);
}

.overlay svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.overlay svg polygon {
  fill: transparent;
  opacity: 0;
  display: none;
}

.overlay svg polygon.revealed {
  display: inline;
}

.overlay svg polygon:hover {
  transition: opacity 0.2s ease-out;
  fill: hsla(10, 100%, 100%, 0.2);
  opacity: 1;
}

#main-scene.is-dark .overlay svg polygon {
  pointer-events: none;
  opacity: 0;
}

#main-scene.is-dark .overlay svg polygon:hover {
  opacity: 0;
}

#main-scene.is-dark .overlay svg polygon.show-dark {
  pointer-events: auto;
}

#main-scene.is-dark .overlay svg polygon.show-dark:hover {
  transition: opacity 0.2s ease-out;
  fill: hsla(10, 100%, 100%, 0.2);
  opacity: 1;
}

.overlay svg polygon.cursor-default {
  cursor: url("/image/cursors/default.png"), auto;
}

.overlay svg polygon.cursor-point {
  cursor: url("/image/cursors/hand-point.png"), auto;
}

.overlay svg polygon.cursor-walk {
  cursor: url("/image/cursors/walk.png"), auto;
}

#inventory-menu {
  z-index: 40;
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
  pointer-events: none;
}

#inventory-menu .inner {
  z-index: 41;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

#inventory-menu .close {
  position: absolute;
  top: 0;
  width: 1280px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#inventory-menu .close button {
  z-index: 42;
  height: 32px;
  width: 32px;
  cursor: url("/image/cursors/default.png"), auto;
}

#inventory-menu .header {
  position: absolute;
  top: 0;
  width: 1280px;
  height: 160px;
  background-color: #c3a38a;
}

#inventory-menu .header h1 {
  margin-left: 25px;
  color: #08141e;
}

#inventory-menu .visuals {
  position: absolute;
  top: 160px;
  left: 0;
  width: 560px;
  height: 560px;
  background-color: #08141e;
  display: none;
}

#inventory-menu .visuals.revealed {
  display: block;
}

#inventory-menu .visuals .item-portrait {
  position: absolute;
  top: 0;
  left: 0;
  width: 560px;
  height: 560px;
  display: block;
  z-index: 42;
}

#inventory-menu .visuals .item-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 560px;
  height: 560px;
  display: none;
  z-index: 43;
  background-color: hsla(207, 58%, 7%, 0.9);
}

#inventory-menu .inner.show-description .item-description {
  display: block;
}

#inventory-menu .visuals .toggle-description {
  position: absolute;
  top: 535px;
  left: 140px;
  width: 280px;
  height: 25px;
  color: #08141e;
  z-index: 44;
}

#inventory-menu .visuals .item-description p {
  color: #f6d6bd;
  padding: 25px;
}

#inventory-menu .list {
  position: absolute;
  top: 160px;
  left: 560px;
  width: 720px;
  height: 560px;
  background-color: #f6d6bd;
  display: flex;
  flex-direction: column;
}

#inventory-menu .list .item-row {
  width: 100%;
}

#inventory-menu .list .item-row.selected {
  background-color: #0f2a3f;
}

#inventory-menu .list .item-row.selected p {
  color: #f6d6bd;
}

#inventory-menu .list .item-row:hover {
  background-color: #c3a38a;
}

#inventory-menu .list .item-row p {
  color: #08141e;
  padding: 10px 25px;
}

#main-menu .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
  background-color: #997577;
  z-index: 42;
  display: none;
}

#main-menu .inner button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 43;
  cursor: url("/image/cursors/default.png"), auto;
}

#main-menu * {
  color: #08141e;
}

#main-menu .inner.open {
  display: block;
}

#menu-bar {
  width: 1280px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#menu-bar button {
  display: block;
  z-index: 41;
  max-width: 200px;
  margin-left: 25px;
  padding: 0 10px;
  cursor: url("/image/cursors/default.png"), auto;
}

#text-overlay .wrapper.revealed {
  display: block;
}

#text-overlay .wrapper.no-click {
  pointer-events: none;
}

#text-overlay .wrapper {
  z-index: 41;
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
  display: none;
}

#text-overlay .text-box {
  background-color: hsla(207, 58%, 7%, 0.9);
  width: 100%;
  max-height: 106px;
  position: absolute;
  bottom: 0;
  border: 1px solid #c3a38a;
  box-sizing: border-box;
}

#text-overlay .text-message {
  padding: 24px;
}

#text-overlay .text-message .character {
  opacity: 0;
}

#text-overlay .text-message .character.revealed {
  opacity: 1;
}

#text-overlay .text-message .character.callout {
  color: #816271;
}

#text-overlay .blinking-arrow {
  animation: blinky 1s infinite;
  position: absolute;
  top: 680px;
  left: 1240px;
  z-index: 42;
  color: #c3a38a;
  font-size: 48px;
  display: none;
}

#text-overlay .blinking-arrow.revealed {
  display: block;
}

@keyframes blinky {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.base-image {
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
  z-index: 10;
}

#fragments {
  position: absolute;
  left: 0;
  top: 0;
  width: 1280px;
  height: 720px;
  z-index: 11;
}

#fragments img {
  position: absolute;
  left: 0;
  top: 0;
  width: 1280px;
  height: 720px;
  display: none;
}

#fragments img.revealed {
  display: block;
}

#is-dark {
  position: absolute;
  left: 0;
  top: 0;
  width: 1280px;
  height: 720px;
  display: none;
  background-color: hsla(207, 58%, 7%, 0.9);
  z-index: 12;
}

#main-scene.is-dark #is-dark {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
