/*
Sunfall-12 color palette by SolitaryCatK1ng
https://lospec.com/palette-list/sunfall-12
*/
@font-face {
  font-family: "m5x7";
  src: url("../fonts/m5x7.ttf");
}
@font-face {
  font-family: "slim-fit";
  src: url("../fonts/Slim_Fit.ttf");
}
body {
  color: #ed9a6d;
  font-family: "m5x7", sans-serif;
}

h1 {
  font-size: 144px;
  font-weight: 700;
}

button, label {
  color: #1f0a1f;
  font-family: "m5x7";
  font-size: 32px;
}

p {
  color: #ed9a6d;
  font-size: 32px;
}

*,
html {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #1f0a1f;
  height: 100%;
  position: relative;
  user-select: none;
  width: 100%;
}

.flex-centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.center-text {
  text-align: center;
}

#outer-container {
  width: 1600px;
  height: 900px;
  align-items: center;
  background-color: #c23e6e;
  background-image: url("/image/borders-wip.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main, #main-scene {
  width: 1280px;
  height: 720px;
  cursor: url("/image/cursors/default.png"), auto;
  overflow: hidden;
  position: relative;
}

.transition.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#decision-box .wrapper {
  width: 1280px;
  height: 720px;
  z-index: 50;
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

#decision-box .container {
  background-color: hsla(300, 51%, 8%, 0.9);
  border: 1px #ed9a6d solid;
  padding: 1em;
  position: relative;
  width: 640px;
}

#decision-box .wrapper .container .choices {
  display: flex;
  flex-direction: column;
}

#decision-box .wrapper .container .title {
  color: #ed9a6d;
  font-family: "m5x7", sans-serif;
  font-size: 64px;
  margin-bottom: 1em;
}

#decision-box .wrapper .container .choices .decision-button {
  background-color: hsla(300, 51%, 8%, 0.9);
  border: 1px #ed9a6d solid;
  color: #ed9a6d;
  font-family: "m5x7", sans-serif;
  font-size: 36px;
  margin-bottom: 1em;
}

#decision-box .wrapper .container .choices .decision-button:hover {
  background-color: hsla(300, 51%, 8%, 0.9);
  cursor: url("/image/cursors/default.png"), auto;
}

.overlay svg {
  width: 1280px;
  height: 720px;
  z-index: 20;
  left: 0;
  position: absolute;
  top: 0;
}

.overlay svg polygon {
  width: 1280px;
  height: 720px;
  display: none;
  fill: transparent;
  opacity: 0;
}

.overlay svg polygon.revealed {
  display: inline;
}

.overlay svg polygon:hover {
  fill: hsla(10, 100%, 100%, 0.2);
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

#main-scene.is-dark .overlay svg polygon {
  opacity: 0;
  pointer-events: none;
}

#main-scene.is-dark .overlay svg polygon:hover {
  opacity: 0;
}

#main-scene.is-dark .overlay svg polygon.show-dark {
  pointer-events: auto;
}

#main-scene.is-dark .overlay svg polygon.show-dark:hover {
  fill: hsla(10, 100%, 100%, 0.2);
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

#fragments img.fragment-image {
  image-rendering: pixelated;
}

#main-scene .overlay svg polygon {
  cursor: url("/image/cursors/default.png"), auto;
}

#main-scene[data-context=look] .overlay svg polygon {
  cursor: url("/image/cursors/look.png"), auto;
}

#main-scene[data-context=move] .overlay svg polygon {
  cursor: url("/image/cursors/move.png"), auto;
}

#main-scene[data-context=talk] .overlay svg polygon {
  cursor: url("/image/cursors/talk.png"), auto;
}

#main-scene[data-context=item] .overlay svg polygon {
  cursor: url("/image/cursors/item.png"), auto;
}

#inventory-menu {
  width: 1280px;
  height: 720px;
  z-index: 52;
  cursor: url("/image/cursors/default.png"), auto;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}

#inventory-menu .inner {
  z-index: 51;
  height: 100%;
  pointer-events: all;
  width: 100%;
}

#inventory-menu .close {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 1280px;
}

#inventory-menu .close button {
  border-style: outset;
  border-width: 3px;
  box-sizing: content-box;
  cursor: url("/image/cursors/default.png"), auto;
  display: block;
  height: auto;
  max-width: 500px;
  padding: 0 15px;
  width: auto;
  background-color: #8c2964;
  border-color: #8c2964;
  color: #ffc37a;
  height: 32px;
  padding: 0;
  width: 32px;
  z-index: 52;
}
#inventory-menu .close button:hover:enabled {
  filter: brightness(110%);
}
#inventory-menu .close button:active:enabled {
  border-style: inset;
}
#inventory-menu .close button:disabled {
  filter: contrast(0.2);
}

#inventory-menu .header {
  background-color: #c23e6e;
  height: 160px;
  position: absolute;
  top: 0;
  width: 1280px;
}

#inventory-menu .header h1 {
  color: #1f0a1f;
  margin-left: 25px;
}

#inventory-menu .header button.use-item {
  border-style: outset;
  border-width: 3px;
  box-sizing: content-box;
  cursor: url("/image/cursors/default.png"), auto;
  display: block;
  height: auto;
  max-width: 500px;
  padding: 0 15px;
  width: auto;
  background-color: #8c2964;
  border-color: #8c2964;
  color: #ffc37a;
  float: right;
}
#inventory-menu .header button.use-item:hover:enabled {
  filter: brightness(110%);
}
#inventory-menu .header button.use-item:active:enabled {
  border-style: inset;
}
#inventory-menu .header button.use-item:disabled {
  filter: contrast(0.2);
}

#inventory-menu .visuals {
  background-color: #1f0a1f;
  height: 560px;
  left: 0;
  position: absolute;
  top: 160px;
  width: 560px;
}

#inventory-menu .visuals .item-portrait {
  z-index: 52;
  display: block;
  height: 560px;
  left: 0;
  position: absolute;
  top: 0;
  width: 560px;
}

#inventory-menu .visuals .item-description {
  z-index: 53;
  background-color: hsla(207, 58%, 7%, 0.9);
  display: none;
  height: 560px;
  left: 0;
  position: absolute;
  top: 0;
  width: 560px;
}

#inventory-menu .visuals .item-description.revealed {
  display: block;
}

#inventory-menu .visuals .toggle-description {
  border-style: outset;
  border-width: 3px;
  box-sizing: content-box;
  cursor: url("/image/cursors/default.png"), auto;
  display: block;
  height: auto;
  max-width: 500px;
  padding: 0 15px;
  width: auto;
  background-color: #8c2964;
  border-color: #8c2964;
  color: #ffc37a;
  z-index: 54;
  left: 152px;
  position: absolute;
  top: 524px;
}
#inventory-menu .visuals .toggle-description:hover:enabled {
  filter: brightness(110%);
}
#inventory-menu .visuals .toggle-description:active:enabled {
  border-style: inset;
}
#inventory-menu .visuals .toggle-description:disabled {
  filter: contrast(0.2);
}

#inventory-menu .visuals .item-description p {
  color: #ffc37a;
  padding: 25px;
}

#inventory-menu .list {
  background-color: #ffc37a;
  display: flex;
  flex-direction: column;
  height: 560px;
  left: 560px;
  position: absolute;
  top: 160px;
  width: 720px;
}

#inventory-menu .list .item-row {
  width: 100%;
}

#inventory-menu .list .item-row.selected {
  background-color: #4d1059;
}

#inventory-menu .list .item-row.selected p {
  color: #ffc37a;
}

#inventory-menu .list .item-row:hover {
  background-color: #c23e6e;
}

#inventory-menu .list .item-row p {
  color: #1f0a1f;
  padding: 10px 25px;
}

#main-menu .inner {
  width: 1280px;
  height: 720px;
  z-index: 52;
  background-color: #c23e6e;
  cursor: url("/image/cursors/default.png"), auto;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}

#main-menu .inner button {
  z-index: 53;
  cursor: url("/image/cursors/default.png"), auto;
  position: absolute;
  right: 0;
  top: 0;
}

#main-menu * {
  color: #1f0a1f;
}

#main-menu .inner.open {
  display: block;
}

#main-menu .close button {
  border-style: outset;
  border-width: 3px;
  box-sizing: content-box;
  cursor: url("/image/cursors/default.png"), auto;
  display: block;
  height: auto;
  max-width: 500px;
  padding: 0 15px;
  width: auto;
  background-color: #8c2964;
  border-color: #8c2964;
  color: #ffc37a;
  height: 32px;
  padding: 0;
  width: 32px;
  z-index: 52;
}
#main-menu .close button:hover:enabled {
  filter: brightness(110%);
}
#main-menu .close button:active:enabled {
  border-style: inset;
}
#main-menu .close button:disabled {
  filter: contrast(0.2);
}

#main-menu #save {
  border-style: outset;
  border-width: 3px;
  box-sizing: content-box;
  cursor: url("/image/cursors/default.png"), auto;
  display: block;
  height: auto;
  max-width: 500px;
  padding: 0 15px;
  width: auto;
  background-color: #8c2964;
  border-color: #8c2964;
  color: #ffc37a;
  z-index: 53;
  position: relative;
}
#main-menu #save:hover:enabled {
  filter: brightness(110%);
}
#main-menu #save:active:enabled {
  border-style: inset;
}
#main-menu #save:disabled {
  filter: contrast(0.2);
}

#main-menu .save-success-container {
  display: block;
  height: 50px;
  width: 200px;
}

#main-menu .save-success-message {
  z-index: 53;
  animation: gameSavedSuccess 3s 1;
  display: none;
  opacity: 0;
}

#main-menu .save-success-message.revealed {
  display: block;
}

@keyframes gameSavedSuccess {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#menu-bar {
  z-index: 50;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

#menu-bar button {
  border-style: outset;
  border-width: 3px;
  box-sizing: content-box;
  cursor: url("/image/cursors/default.png"), auto;
  display: block;
  height: auto;
  max-width: 500px;
  padding: 0 15px;
  width: auto;
  background-color: #8c2964;
  border-color: #8c2964;
  color: #ffc37a;
  z-index: 51;
  margin-left: 25px;
}
#menu-bar button:hover:enabled {
  filter: brightness(110%);
}
#menu-bar button:active:enabled {
  border-style: inset;
}
#menu-bar button:disabled {
  filter: contrast(0.2);
}

#context-menu {
  z-index: 50;
  background-color: #ed9a6d;
  display: none;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

#context-menu form {
  display: flex;
  flex-direction: column;
}

#context-menu.revealed {
  display: block;
}

#context-menu form label {
  z-index: 51;
  background-color: #1f0a1f;
  border-bottom-width: 0px;
  border: 1px solid #ffeb99;
  color: #ffeb99;
  cursor: url("/image/cursors/default.png"), auto;
  display: block;
  padding: 0 10px;
  text-align: center;
}

#context-menu form label:last-child {
  border-bottom-width: 1px;
}

#context-menu form label:hover {
  background-color: #c23e6e;
}

#context-menu form input[type=radio] {
  appearance: none;
}

#context-menu form input[type=radio]:checked + label {
  background-color: #ed9a6d;
  color: #1f0a1f;
}

#text-overlay .wrapper.revealed {
  display: block;
}

#text-overlay .wrapper.no-click {
  pointer-events: none;
}

#text-overlay .wrapper {
  width: 1280px;
  height: 720px;
  z-index: 51;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}

#text-overlay .text-box {
  background-color: hsla(300, 51%, 8%, 0.9);
  border: 1px solid #c23e6e;
  bottom: 0;
  box-sizing: border-box;
  max-height: 106px;
  position: absolute;
  width: 100%;
}

#text-overlay .text-message {
  padding: 24px;
}

#text-overlay .text-message .character {
  opacity: 0;
}

#text-overlay .text-message .character.revealed {
  opacity: 1;
}

#text-overlay .text-message .character.callout {
  color: #ffeb99;
}

#text-overlay .blinking-arrow {
  z-index: 52;
  animation: blinky 1s infinite;
  color: #c23e6e;
  display: none;
  font-size: 48px;
  left: 1240px;
  position: absolute;
  top: 680px;
}

#text-overlay .blinking-arrow.revealed {
  display: block;
}

@keyframes blinky {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.base-image {
  width: 1280px;
  height: 720px;
  z-index: 10;
  image-rendering: pixelated;
  left: 0;
  position: absolute;
  top: 0;
}

#fragments {
  width: 1280px;
  height: 720px;
  z-index: 11;
  left: 0;
  position: absolute;
  top: 0;
}

.fragment-image {
  width: 1280px;
  height: 720px;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}

.fragment-image.revealed {
  display: block;
}

#is-dark {
  width: 1280px;
  height: 720px;
  z-index: 12;
  background-color: hsla(300, 51%, 8%, 0.9);
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}

#main-scene.is-dark #is-dark {
  display: block;
}

#area-title {
  z-index: 40;
  animation: areaTitleMovement 3s 1;
  bottom: 100%;
  color: #ed9a6d;
  display: none;
  font-family: "m5x7", sans-serif;
  font-size: 96px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 5px 5px #1f0a1f;
}

#area-title.revealed {
  display: block;
}

@keyframes areaTitleMovement {
  0% {
    bottom: 100%;
  }
  20% {
    bottom: 80%;
  }
  80% {
    bottom: 80%;
  }
  100% {
    bottom: 100%;
  }
}
#npc-dialogue .wrapper.revealed {
  display: block;
}

#npc-dialogue .wrapper.no-click {
  pointer-events: none;
}

#npc-dialogue .wrapper {
  width: 1280px;
  height: 720px;
  z-index: 51;
  background: hsla(300, 51%, 8%, 0.9);
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}

#npc-dialogue .text-box {
  background-color: hsla(300, 51%, 8%, 0.9);
  border: 1px solid #c3a38a;
  bottom: 0;
  box-sizing: border-box;
  left: 512px;
  max-height: 106px;
  position: absolute;
  width: 768px;
}

#npc-dialogue .text-message {
  padding: 24px;
}

#npc-dialogue .text-message .character {
  opacity: 0;
}

#npc-dialogue .text-message .character.revealed {
  opacity: 1;
}

#npc-dialogue .text-message .character.callout {
  color: #ffeb99;
}

#npc-dialogue .blinking-arrow {
  z-index: 52;
  animation: blinky 1s infinite;
  color: #c3a38a;
  display: none;
  font-size: 48px;
  left: 1240px;
  position: absolute;
  top: 680px;
}

#npc-dialogue .blinking-arrow.revealed {
  display: block;
}

@keyframes blinky {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#npc-dialogue img.portrait-image {
  height: 512px;
  image-rendering: pixelated;
  width: 512px;
}

#npc-portrait {
  z-index: 52;
  border: 1px solid #ed9a6d;
  bottom: 0;
  height: 512px;
  left: 0;
  position: absolute;
  width: 512px;
}

#npc-name {
  z-index: 52;
  bottom: 78px;
  font-size: 48px;
  left: 512px;
  max-height: 106px;
  padding: 0 0 0 24px;
  position: absolute;
  width: 768px;
}

#title-screen {
  width: 1280px;
  height: 720px;
  cursor: url("/image/cursors/default.png"), auto;
  overflow: hidden;
  position: relative;
}

#title-screen-content {
  z-index: 11;
  position: relative;
}

.game-logo-image {
  width: 1280px;
  height: 720px;
  z-index: 12;
  image-rendering: pixelated;
  left: 0;
  position: absolute;
  top: 0;
}

#title-screen-options {
  width: 1280px;
  height: 720px;
  z-index: 13;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  left: 0;
  position: absolute;
  top: 0;
}

#title-screen-options p {
  font-size: 48px;
  color: #ffeb99;
  text-shadow: 3px 3px 0 #4d1059, -3px 3px 0 #4d1059, -3px -3px 0 #4d1059, 3px -3px 0 #4d1059;
}

#title-screen-options p.disabled {
  color: #c23e6e;
}

#title-screen-options p:hover {
  color: #ed9a6d;
}

#title-screen-options p.disabled:hover {
  color: #c23e6e;
}

#scroll-intro-bg {
  width: 1280px;
  height: 720px;
  z-index: 11;
  animation-direction: normal;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fade-in;
  background-color: hsla(300, 51%, 8%, 0.9);
  pointer-events: none;
  position: relative;
}

#scrolling-text-wrapper {
  position: relative;
}

#scrolling-text {
  font-size: 64px;
  animation-delay: 1s;
  animation-direction: normal;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: scroll-text;
  animation-timing-function: linear;
  left: 192px;
  line-height: 0.8;
  pointer-events: none;
  position: absolute;
  text-align: justify;
  top: 720px;
  width: 896px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll-text {
  0% {
    top: 720px;
  }
  100% {
    top: 0px;
  }
}
@keyframes blinking-text {
  0% {
    color: #ed9a6d;
  }
  100% {
    color: #feffcf;
  }
}
#scroll-intro-start {
  width: 1280px;
  height: 720px;
  z-index: 12;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}

#scroll-intro-start.enabled {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: end;
}

#scroll-intro-start p {
  font-size: 80px;
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: blinking-text;
  animation-timing-function: linear;
  padding: 10px;
}

/*# sourceMappingURL=styles.css.map */
