#scroll-intro-bg {
    @include innerDimensions();
    @include zlayers($z-base, 1);
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: fade-in;
    background-color: $sunfall_transparent_black_bg;
    position: relative;
}

#scrolling-text {
    position: relative;
    
}

#scrolling-text p {
    @include fontSize(4);
    animation-delay: 1s;
    animation-direction: normal;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: scroll-text;
    animation-timing-function: linear;
    left: 192px;
    position: absolute;
    text-align: justify;
    top: 720px;
    width: 896px;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes scroll-text {
    0% {
      top: 720px;
    }
    100% {
      top: 0px;
    }
  }