<!-- Primary Scene -->
<div id="main-scene" class="transition stairs">
    <div id="text-overlay" hx-on="htmx:load: window.gameInteractivity.typeWriter()"></div>
    <div id="decision-box"></div>
      <div class="overlay">
        <svg width="1280" height="720">
          <defs>
            <filter id="f1" x="0" y="0">
              <feGaussianBlur in="SourceGraphic" stdDeviation="7" />
            </filter>
          </defs>
          <polygon
            width="1280"
            height="720"
            points="306, 609, 303, 531, 303, 345, 348, 246, 408, 189, 465, 198, 492, 228, 522, 288, 537, 357, 525, 378, 525, 426, 525, 471, 516, 498, 438, 510, 420, 579, 402, 594"
            filter="url(#f1)"
            hx-get="/messages/underStair"
            hx-target="#text-overlay"
            id="polygon-under-stairs"
          />
        </svg>
      </div>
      <div id="basemat">
        <img
          src="/image/stairs-final.png"
          width="1280"
          height="720"
          class="base-image"
          id="basemat-stairs-image"
        />
      </div>
  </div>