#decision-box .wrapper {
    @include innerDimensions();
    position: absolute;
    top: 0;
    left: 0;
    justify-content:center;
    align-items:center;
    @include zlayers($z-menu);
    display: flex;
}
#decision-box .container {
    position: relative;
    background-color: $sunfall_transparent_black_bg;
    width: 640px;
    border: 1px $sunfall_orange1_hex solid;
    padding: 1em;
}

#decision-box .wrapper .container .choices {
    display: flex;
    flex-direction: column;
}

#decision-box .wrapper .container .title {
    font-size: 64px;
    color: $sunfall_orange1_hex;
    font-family: 'm5x7', sans-serif;
    margin-bottom: 1em;
}

#decision-box .wrapper .container .choices .decision-button {
    font-size: 36px;
    color: $sunfall_orange1_hex;
    font-family: 'm5x7', sans-serif;
    background-color: $sunfall_transparent_black_bg;
    border: 1px $sunfall_orange1_hex solid;
    margin-bottom: 1em;

}

#decision-box .wrapper .container .choices .decision-button:hover {
    cursor: $cursor-default;
    background-color: $sunfall_transparent_black_bg;
}