@import 'variables.scss'; 
@import 'palette.scss';

#decision-box .wrapper {
    width: 1280px;
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
    justify-content:center;
    align-items:center;
    @include zlayers($z-menu);
    display: flex;
}
#decision-box .container {
    position: relative;
    background-color: $transparent_black_bg;
    width: 640px;
    border: 1px $lightOrange_hex solid;
    padding: 1em;
}

#decision-box .wrapper .container .choices {
    display: flex;
    flex-direction: column;
}

#decision-box .wrapper .container .title {
    font-size: 64px;
    color: $lightOrange_hex;
    font-family: 'm5x7', sans-serif;
    margin-bottom: 1em;
}

#decision-box .wrapper .container .choices .decision-button {
    font-size: 36px;
    color: $lightOrange_hex;
    font-family: 'm5x7', sans-serif;
    background-color: $transparent_black_bg;
    border: 1px $lightOrange_hex solid;
    margin-bottom: 1em;

}

#decision-box .wrapper .container .choices .decision-button:hover {
    cursor: $default-cursor;
    background-color: hsla(254, 13%, 33%, 0.9);
}