#decision-box .wrapper {
    @include innerDimensions();
    @include zlayers($z-menu);
    align-items:center;
    display: flex;
    justify-content:center;
    left: 0;
    position: absolute;
    top: 0;
}
#decision-box .container {
    background-color: $sunfall_transparent_black_bg;
    border: 1px $sunfall_orange1_hex solid;
    padding: 1em;
    position: relative;
    width: 640px;
}

#decision-box .wrapper .container .choices {
    display: flex;
    flex-direction: column;
}

#decision-box .wrapper .container .title {
    color: $sunfall_orange1_hex;
    font-family: 'm5x7', sans-serif;
    font-size: 64px;
    margin-bottom: 1em;
}

#decision-box .wrapper .container .choices .decision-button {
    background-color: $sunfall_transparent_black_bg;
    border: 1px $sunfall_orange1_hex solid;
    color: $sunfall_orange1_hex;
    font-family: 'm5x7', sans-serif;
    font-size: 36px;
    margin-bottom: 1em;

}

#decision-box .wrapper .container .choices .decision-button:hover {
    background-color: $sunfall_transparent_black_bg;
    cursor: $cursor-default;
}