@font-face {
    font-family: 'm5x7';
    src: url('../fonts/m5x7.ttf');
}

@font-face {
    font-family: 'slim-fit';
    src: url('../fonts/Slim_Fit.ttf');
}

body {
    color: $sunfall_orange1_hex;
    font-family: 'm5x7', sans-serif;
}

h1 {
    font-size: 144px;
    font-weight: 700;
}

button, label {
    color: $sunfall_black_hex;
    font-family: 'm5x7';
    font-size: 32px;
}

p {
    color: $sunfall_orange1_hex;
    font-size: 32px;
}
