.overlay svg {
    @include innerDimensions();
    @include zlayers($z-interaction);
    left: 0;
    position: absolute;
    top: 0;
}
.overlay svg polygon {
    @include innerDimensions();
    display: none;
    fill: transparent;
    opacity: 0;
}
.overlay svg polygon.revealed {
    display: inline;
}
.overlay svg polygon:hover {
    fill: hsla(10, 100%, 100%, 0.2);
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

#main-scene.is-dark .overlay svg polygon {
    opacity: 0;
    pointer-events: none;
}

#main-scene.is-dark .overlay svg polygon:hover {
    opacity: 0;
}


#main-scene.is-dark .overlay svg polygon.show-dark {
    pointer-events: auto;

}
#main-scene.is-dark .overlay svg polygon.show-dark:hover {
    fill: hsla(10, 100%, 100%, 0.2);
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

#fragments img.fragment-image {
    image-rendering: pixelated;
}

#main-scene .overlay svg polygon {
    cursor: $cursor-default;
}
#main-scene[data-context=look] .overlay svg polygon {
    cursor: $cursor-look;
}
#main-scene[data-context=move] .overlay svg polygon {
    cursor: $cursor-move;
}
#main-scene[data-context=talk] .overlay svg polygon {
    cursor: $cursor-talk;
}
#main-scene[data-context=item] .overlay svg polygon {
    cursor: $cursor-item;
}