.overlay svg {
    position: absolute;
    top: 0;
    left: 0;
    @include zlayers($z-interaction);
}
.overlay svg polygon {
    fill: transparent;
    opacity: 0;
    display: none;
}
.overlay svg polygon.revealed {
    display: inline;
}
.overlay svg polygon:hover {
    transition: opacity 0.2s ease-out;
    fill: hsla(10, 100%, 100%, 0.2);
    opacity: 1;
}

#main-scene.is-dark .overlay svg polygon {
    pointer-events: none;
    opacity: 0;
}

#main-scene.is-dark .overlay svg polygon:hover {
    opacity: 0;
}


#main-scene.is-dark .overlay svg polygon.show-dark {
    pointer-events: auto;

}
#main-scene.is-dark .overlay svg polygon.show-dark:hover {
    transition: opacity 0.2s ease-out;
    fill: hsla(10, 100%, 100%, 0.2);
    opacity: 1;
}

.overlay svg polygon.cursor-default {
    cursor: $cursor-default;
}
.overlay svg polygon.cursor-point {
    cursor: $cursor-point;
}
.overlay svg polygon.cursor-walk {
    cursor: $cursor-walk;
}
.overlay svg polygon.cursor-talk {
    cursor: $cursor-talk;
}

#fragments img.fragment-image {
    image-rendering: pixelated;
}