@import 'palette.scss'; 

*,
html {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $black_hex;
    cursor: url('/image/cursor.png'), auto;
    user-select: none;
}

.flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.center-text {
    text-align: center;
}

#main, #main-scene {
    position: relative;
    width: 1280px;
    height: 720px;
}

.base-image {
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    z-index: 10;
}

.transition.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}
