*,
html {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $sunfall_black_hex;
    user-select: none;
}

.flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.center-text {
    text-align: center;
}

#outer-container {
    @include outerDimensions();
    background-color: $sunfall_pink3_hex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/image/borders-wip.jpg');
}

#main, #main-scene {
    position: relative;
    @include innerDimensions();
    cursor: $cursor-default;
    overflow: hidden;
}

.transition.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}