#npc-dialogue .wrapper.revealed {
    display: block;
}
#npc-dialogue .wrapper.no-click {
    pointer-events: none;
}
#npc-dialogue .wrapper {
    @include innerDimensions();
    @include zlayers($z-menu, 1);
    background: $sunfall_transparent_black_bg;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
#npc-dialogue .text-box {
    background-color: $sunfall_transparent_black_bg;
    border: 1px solid $tan_hex;
    bottom: 0;
    box-sizing: border-box;
    left: 512px;
    max-height: 106px;
    position: absolute;
    width: 768px;
}

#npc-dialogue .text-message {
    padding: 24px;
}

#npc-dialogue .text-message .character {
    opacity: 0;
}

#npc-dialogue .text-message .character.revealed {
    opacity: 1;
}

#npc-dialogue .text-message .character.callout {
    color: $sunfall_gold1_hex;
}

#npc-dialogue .blinking-arrow {
    @include zlayers($z-menu, 2);
    animation: blinky 1s infinite;
    color: $tan_hex;
    display: none;
    font-size: 48px;
    left: 1240px;
    position: absolute;
    top: 680px;
}
#npc-dialogue .blinking-arrow.revealed {
    display: block;
}

@keyframes blinky {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  #npc-dialogue img.portrait-image {
    height: 512px;
    image-rendering: pixelated;
    width: 512px;
  }

  #npc-portrait {
    @include zlayers($z-menu, 2);
    border: 1px solid $sunfall_orange1_hex;
    bottom: 0;
    height: 512px;
    left: 0;
    position: absolute;
    width: 512px;
  }

  #npc-name {
    @include zlayers($z-menu, 2);
    bottom: 78px;
    font-size: 48px;
    left: 512px;
    max-height: 106px;
    padding: 0 0 0 24px;
    position: absolute;
    width: 768px;
  }