/*
Sunfall-12 color palette by SolitaryCatK1ng
https://lospec.com/palette-list/sunfall-12
*/

$sunfall_black_hex: #1f0a1f;
$sunfall_black_rgb: rgb(31, 10, 31);
$sunfall_black_hsla: hsla(300, 51%, 8%, 1);
$sunfall_transparent_black_bg: hsla(300, 51%, 8%, 0.9);

$sunfall_purple1_hex: #4d1059;
$sunfall_purple1_rgb: rgb(77, 16, 89);
$sunfall_purple1_hsla: hsla(290, 70%, 21%, 1);

$sunfall_purple2_hex: #6b155e;
$sunfall_purple2_rgb: rgb(107, 21, 94);
$sunfall_purple2_hsla: hsla(309, 67%, 25%, 1);

$sunfall_pink1_hex: #8c2964;
$sunfall_pink1_rgb: rgb(140, 41, 100);
$sunfall_pink1_hsla: hsla(324, 55%, 35%, 1);

$sunfall_pink2_hex: #a63169;
$sunfall_pink2_rgb: rgb(166, 49, 105);
$sunfall_pink2_hsla: hsla(331, 54%, 42%, 1);

$sunfall_pink3_hex: #c23e6e;
$sunfall_pink3_rgb: rgb(194, 62, 110);
$sunfall_pink3_hsla: hsla(338, 52%, 50%, 1);

$sunfall_red1_hex: #d94e6a;
$sunfall_red1_rgb: rgb(217, 78, 106);
$sunfall_red1_hsla: hsla(348, 65%, 58%, 1);

$sunfall_red2_hex: #de6b5b;
$sunfall_red2_rgb: rgb(222, 107, 91);
$sunfall_red2_hsla: hsla(7, 66%, 61%, 1);

$sunfall_orange1_hex: #ed9a6d;
$sunfall_orange1_rgb: rgb(237, 154, 109);
$sunfall_orange1_hsla: hsla(21, 78%, 68%, 1);

$sunfall_orange2_hex: #ffc37a;
$sunfall_orange2_rgb: rgb(255, 195, 122);
$sunfall_orange2_hsla: hsla(33, 100%, 74%, 1);

$sunfall_gold1_hex: #ffeb99;
$sunfall_gold1_rgb: rgb(255, 235, 153);
$sunfall_gold1_hsla: hsla(48, 100%, 80%, 1);

$sunfall_gold2_hex: #feffcf;
$sunfall_gold2_rgb: rgb(254, 255, 207);
$sunfall_gold2_hsla: hsla(61, 100%, 91%, 1);