#text-overlay .wrapper.revealed {
    display: block;
}
#text-overlay .wrapper.no-click {
    pointer-events: none;
}
#text-overlay .wrapper {
    @include innerDimensions();
    @include zlayers($z-menu, 1);
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
#text-overlay .text-box {
    background-color: $sunfall_transparent_black_bg;
    border: 1px solid $sunfall_pink3_hex;
    bottom: 0;
    box-sizing: border-box;
    max-height: 106px;
    position: absolute;
    width: 100%;
}

#text-overlay .text-message {
    padding: 24px;
}

#text-overlay .text-message .character {
    opacity: 0;
}

#text-overlay .text-message .character.revealed {
    opacity: 1;
}

#text-overlay .text-message .character.callout {
    color: $sunfall_gold1_hex;
}

#text-overlay .blinking-arrow {
    @include zlayers($z-menu, 2);
    animation: blinky 1s infinite;
    color: $sunfall_pink3_hex;
    display: none;
    font-size: 48px;
    left: 1240px;
    position: absolute;
    top: 680px;
}
#text-overlay .blinking-arrow.revealed {
    display: block;
}

@keyframes blinky {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }