#title-screen {
    position: relative;
    @include innerDimensions();
    cursor: $cursor-default;
    overflow: hidden;
}


.game-logo-image {
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    @include zlayers($z-base, 1);
    @include innerDimensions();
}

#title-screen-options {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    @include innerDimensions();
    @include zlayers($z-base, 2);
}

#title-screen-options p {
    @include fontSize(3);
    color: $sunfall_gold1_hex;
    text-shadow:
    3px 3px 0 $sunfall_purple1_hex,
    -3px 3px 0 $sunfall_purple1_hex,
    -3px -3px 0 $sunfall_purple1_hex,
    3px -3px 0 $sunfall_purple1_hex;
}

#title-screen-options p.disabled {
    color: $sunfall_pink3_hex;
}

#title-screen-options p:hover {
    color: $sunfall_orange1_hex;
}

#title-screen-options p.disabled:hover {
    color: $sunfall_pink3_hex;
}