// Cursors
$cursor-default: url('/image/cursors/default.png'), auto;
$cursor-point: url('/image/cursors/hand-point.png'), auto;
$cursor-walk: url('/image/cursors/walk.png'), auto;
$cursor-talk: url('/image/cursors/talk.png'), auto;

// Z-Index Layers
// The general idea is to declare general 'layers' in increments of ten.
// Each component that operates on a layer can be more granular by using
// zlayers mixin to achieve the right stacking without having to resort
// to codifying all of those changes


$z-base: 10;
$z-interaction: 20;
$z-darkness: 30;
$z-area-title: 40;
$z-menu: 50;

@mixin zlayers($layer, $add: 0) {
    z-index: $layer + $add;
}