// Sizes
$outer-width: 1600;
$outer-height: 900;
$inner-width: 1280;
$inner-height: 720;

@function numberToPixels($number) {
    @return $number + 0px;
}

@mixin outerDimensions() {
    width: numberToPixels($outer-width);
    height: numberToPixels($outer-height);
}

@mixin innerDimensions() {
    width: numberToPixels($inner-width);
    height: numberToPixels($inner-height);
}

// fontSize
// Util to help me not have to remember the m5x7 font nice scaling
// Just multiplies a number by 16

@mixin fontSize($size: 1) {
    font-size: numberToPixels($size * 16);
}

// Cursors
$cursor-default: url('/image/cursors/default.png'), auto;
$cursor-point: url('/image/cursors/hand-point.png'), auto;
$cursor-move: url('/image/cursors/move.png'), auto;
$cursor-talk: url('/image/cursors/talk.png'), auto;
$cursor-look: url('/image/cursors/look.png'), auto;
$cursor-item: url('/image/cursors/item.png'), auto;

// Z-Index Layers
// The general idea is to declare general 'layers' in increments of ten.
// Each component that operates on a layer can be more granular by using
// zlayers mixin to achieve the right stacking without having to resort
// to codifying all of those changes


$z-base: 10;
$z-interaction: 20;
$z-darkness: 30;
$z-area-title: 40;
$z-menu: 50;

@mixin zlayers($layer, $add: 0) {
    z-index: $layer + $add;
}